{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
  <h2>Hi, {{profile.username}}!</h2>

  <div >
    <p>{{ profile.email }}</p>
    <button type="submit">
      <a href="{% url 'users:updateAccount' profile.username%}">Edit</a>
    </button>
  </div>

  <h2>Your Stories</h2>

  <div id="all-stories">
      {% for story in profile.newsstory_set.all %}
        {% include "news/storyCard.html" with story=story %}
      {% endfor %}
    </div>
{% endblock %}