{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    <h2>Latest News</h2>

    {% if request.user.is_authenticated %}
        <button>
        <a href="{% url 'news:newStory' %}">Write New Story</a>
        </button>
    {% endif %}

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <h2>All News</h2>

    <div>
        <form method="GET">
            {% csrf_token %}
            <select name="with_author">
                <option value="">All Authors</option>
                {% for author in author_list %}
                    <option value="{{ author.id }}" {% if request.GET.with_author == author.id|stringformat:"i" %} selected="true" {% endif %}>
                        {{ author.username }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit">filter</button>
            <input type="search" name="search" placeholder="search" value="{{request.GET.search}}" />
        </form>
    </div>

    <div id="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>
{% endblock %}