{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    <div id="story-wrapper">
        <h2>{{ story.title }}</h2>
        <h4>
            <a href="{% url 'users:profile' story.author.username %}">
                {{ story.author }}
            </a>
        </h4>

        {% if request.user.is_authenticated %}
        <form action="{% url 'news:favourite' story.id %}" method="POST">
            {% csrf_token %}
            {% if favourited %}
                <button type="submit" , name="news_id" , value="{{ story.id }}">
                    <img style="filter:grayscale(0%)" src="../../static/news/images/like-coloured.png" alt="Favourite coloured">
                </button>
            {% else %}
                <button type="submit" , name="news_id" , value="{{ story.id }}">
                    <img style="filter:grayscale(0%)" src="../../static/news/images/like-white.png" alt="Favourite white">
                </button>
            {% endif %}
            <p style="display:inline">{{ total_favourites }}</p>
        </form>
        {% endif%}

        <div id="story-content">
            {% if story.image %}
                <img src="{{ story.image.url }}">
            {% else %}
                <img src="../../static/news/images/placeholder-5.jpg" alt="Story image">
            {% endif %}
            {{ story.content|linebreaks }}
        </div>
    </div>
{% endblock %}
