{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    <div id="story-wrapper">
        <h2>{{ story.title }}</h2>
        <h4>
            <a href="{% url 'users:userStory' story.author.username %}">
                {{ story.author }}
            </a>
        </h4>
        <div id="story-content">
            {% if story.image %}
                <img src="{{ story.image.url }}">
            {% else %}
                <img src="../../static/news/images/placeholder-5.jpg" alt="Story image">
            {% endif %}
            {{ story.content|linebreaks }}
        </div>
    </div>
{% endblock %}
